<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Asignación de tareas{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('public/css/style.css') }}"/>

    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ include('menu.html.twig') }}
        {% endif %}
        
        

    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('public/js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('public/js/bootbox.min.js') }}"></script>

    {% endblock %}
    </body>
</html>
