<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Inicio</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

       {% if is_granted('ROLE_ADMIN') %}
      <ul class="nav navbar-nav">
        <li class="dropdown " >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %} Users {% endtrans %} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('dsg_user_index')}}">{% trans %} List users {% endtrans %}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('dsg_user_add')}}">{% trans %} New user {% endtrans %}</a></li>
            
            
           
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav">

        <li class="dropdown " >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %} Tareas {% endtrans %} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('dsg_task_index')}}">{% trans %} List tasks {% endtrans %}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('dsg_task_add')}}">{% trans %} New task {% endtrans %}</a></li>
            
            
           
          </ul>
        </li>
      </ul>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
      <ul class="nav navbar-nav">
      <li class="dropdown " >
        <a href="{{ path('dsg_task_custom') }}">Mis Tareas</a>
      </li>
    </ul>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('dsg_user_logout') }}">Logout</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>