{% extends 'base.html.twig'%}

{% block body %}
	{{ parent() }}
	{{ include('DSGUserBundle:User:messages/success.html.twig') }}
	<div class="main container">
		<div class="row well">
			<div class="col-md-6">
				<div class="page-header">
						<h2>{% trans %} New user {% endtrans %}</h2>
				</div>

				{{ form_start(form, { 'attr': {'novalidate':'novalidate', 'role':'form'} })}}

				
					<div class="form-group">
						{{ form_label(form.username)}}
						{{ form_widget(form.username, { 'attr': {'class':'form-control', 'placeholder': 'Tu username:'} })}}
						<span class="text-danger">
							{{ form_errors(form.username)}}
						</span>
					</div>

					<div class="form-group">
						{{ form_label(form.firstName)}}
						{{ form_widget(form.firstName, { 'attr': {'class':'form-control', 'placeholder': 'Tu nombre:'} })}}
						<span class="text-danger">
							{{ form_errors(form.firstName)}}
						</span>
					</div>

					<div class="form-group">
						{{ form_label(form.lastName)}}
						{{ form_widget(form.lastName, { 'attr': {'class':'form-control', 'placeholder': 'Tu apellido:'} })}}
						<span class="text-danger">
							{{ form_errors(form.lastName)}}
						</span>
					</div>

					<div class="form-group">
						{{ form_label(form.email)}}
						{{ form_widget(form.email, { 'attr': {'class':'form-control', 'placeholder': 'Tu correo:'} })}}
						<span class="text-danger">
							{{ form_errors(form.email)}}
						</span>
					</div>

					<div class="form-group">
						{{ form_label(form.password)}}
						{{ form_widget(form.password, { 'attr': {'class':'form-control', 'placeholder': 'Tu password:'} })}}
						<span class="text-danger">
							{{ form_errors(form.password)}}
						</span>
					</div>

					<div class="form-group">
						{{ form_label(form.role)}}
						{{ form_widget(form.role, { 'attr': {'class':'form-control', 'placeholder': 'Tu role:'} })}}
						<span class="text-danger">
							{{ form_errors(form.role)}}
						</span>
					</div>

					<div class="checkbox">
						<label>
						{{ form_widget(form.isActive)}} {% trans %} Active {% endtrans %}
							<span class="text-danger">
								{{ form_errors(form.isActive)}}
							</span>
						</label>
					</div>



					{{ form_widget(form.save,{'label' : 'Crear usuario' , 'attr': {'class':'btn btn-success' }} ) }}


				{{ form_end(form) }}

			</div>
		</div>
	</div>

{% endblock %}