{% extends 'base.html.twig'%}

{% block body %}
{{parent()}}

{# Progress bar #}
	<div class="progress no-border hidden" id="delete-progress">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			<span class="sr-only">Loading...</span>
		</div>
	</div>    

{{ include('DSGUserBundle:User:messages/success.html.twig') }}
{{ include('DSGUserBundle:User:messages/danger.html.twig') }}
<div class="container">
	<div class="col-md-12">
		<div class="page-header margin-none">
			<h2 class="padding-none">{% trans %} Users {% endtrans %}</h2>
		</div>

		<div class="table-responsive">

			{% trans %} Total records {% endtrans %}: <span id="total">{{ pagination.getTotalItemCount }}</span>

			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>{{ knp_pagination_sortable(pagination, 'Username'|trans, 'u.username') }}</th>
						<th>{{ knp_pagination_sortable(pagination, 'First name'|trans, 'u.firstName') }} </th>
						<th>{{ knp_pagination_sortable(pagination, 'Last name'|trans, 'u.lastName') }} </th>
						<th>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'u.email') }} </th>
						<th>{{ knp_pagination_sortable(pagination, 'Role'|trans, 'u.role') }} </th>
						<th>{{ knp_pagination_sortable(pagination, 'Created'|trans, 'u.createdAt') }} </th>
						<th>{{ knp_pagination_sortable(pagination, 'Updated'|trans, 'u.updatedAt') }} </th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
						{%for user in pagination %}
						<tr data-id="{{user.id}}">
						<td>{{ user.username }}</td>
						<td>{{user.firstName}}</td>
						<td>{{ user.lastName}}</td>
						<td>{{ user.email }}</td>
						<td>
							{% if user.role=='ROLE_ADMIN'%}
							<strong>Administrador</strong>
							{% elseif user.role=='ROLE_USER'%}
							<strong>User</strong>
							{% endif%}
						</td>
							
						<td>{{ user.createdAt| date('d-mY H:i')}}</td>
						<td>{{ user.updatedAt| date('d-mY H:i')}}</td>

						<td>
						<a href="{{ path('dsg_user_view', { id: user.id}) }}" class="btn btn-sm btn-info">{{ 'View' | trans}}</a>
						<a href="{{ path('dsg_user_edit', { id: user.id}) }}" class="btn btn-sm btn-primary">Edit</a>
						<a href="#" class="btn btn-sm btn-danger btn-delete">Delete</a>
						</td>

						</tr>

						{%endfor%}


				</tbody>

			</table>

			{# display navigation#}

			<div class="navigation">
					{{ knp_pagination_render(pagination) }}

			</div>

			

		</div>

	</div>
</div>


{{ include('DSGUserBundle:User:forms/form.html.twig', { form: delete_form_ajax, message: 'Are you sure ?'|trans, id:'form-delete', with_submit: false }) }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/dsguser/js/delete-user.js') }}"></script>
{% endblock %}