{% extends 'base.html.twig' %}

{% block body %}
	{{ parent() }}

	{{ include('DSGUserBundle:Task:messages/success.html.twig') }}
	{{ include('DSGUserBundle:Task:messages/warning.html.twig') }}

	<div class="container">
		<div class="col-md-12">
			<div class="page-header margin-none">
				<h2 class="padding-none">{{ 'Tasks'|trans }}</h2>
			</div>
			{% if not pagination|length %}
				<h3>{{ 'No tasks'|trans }}</h3>
			{% endif %}
			{% if pagination|length %}
			<div class="table-responsive">
				<p>
				    {{ 'Total records:'|trans }} <span id="total"> {{ pagination.getTotalItemCount }} </span>
				</p>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 't.title') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Date'|trans, 't.createdAt') }}</th>
							<th>{{ 'User'|trans }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Status'|trans, 't.status') }}</th>
							<th>{{ 'Actions'|trans }}</th>
						</tr>
					</thead>
					<tbody>
				        {% for task in pagination %}
				            <tr data-id="{{ task.id }}">
				                <td>
				                	<a href="{{ path('dsg_task_view', { id: task.id }) }}">{{ task.title }}</a>
				                </td>
				                <td>{{ task.createdAt|date('d-m-Y H:i') }}</td>
				                <td>{{ task.user.firstName }} {{ task.user.lastName }}</td>
				                <td>
				                	{% if task.status == 0 %}
										<span class="glyphicon glyphicon-time text-danger" title="Waiting" id="glyphicon-{{task.id}}"></span>
									{% elseif task.status == 1 %}
										<span class="glyphicon glyphicon-ok text-success" title="Finish"></span>
				                	{% endif %}
								</td>
								<td class="actions">
								    <a href="#" class="btn btn-sm btn-success btn-process" id="button-{{ task.id }}">
								        {{ 'Finalize'|trans }}
								    </a>
								</td>
				            </tr>
				        {% endfor %}
					</tbody>
				</table>
			{# display navigation #}
			<div class="navigation">
			    {{ knp_pagination_render(pagination) }}
			</div>
			</div>
			{% endif %}
		</div>
	</div>
	
	{{ include('DSGUserBundle:User:forms/form.html.twig', {form: update_form, id: 'form-update', with_submit: false, message: null}) }}
	
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dsguser/js/task-process.js') }}"></script>
{% endblock %}